$--prefix: "vi";

// !default 表示 不可修改

// * color-------------------------------------------------------------

// primary color
$--color-primary: #409eff !default;

// secondary color
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

// base color
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--color-transparent: transparent !default;

// primary color lighter
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

// text color
$--color-primary-text: #303133 !default;
$--color-primary-regular: #606266 !default;
$--color-primary-sub: #909399 !default;
$--color-primary-placeholder: #c0c4cc !default;

// border color
$--color-border-base: #dcdfe6 !default;
$--color-border-light: #e4e7ed !default;
$--color-border-lighter: #ebeef5 !default;
$--color-border-extra-light: #f2f6fc !default;

// * border-------------------------------------------------------------
$--border-width-solid: 1px !default;
$--border-width-dashed: 2px !default;

$--border-radius-zero: 0px !default;
$--border-radius-small: 2px !default;
$--border-radius-base: 4px !default;
$--border-radius-circle: 30px !default;

// * box-shadow-------------------------------------------------------------
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12) !default;
$--box-shadow-base: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

// * breakpoints
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  "xs": (
    max-width: $--sm - 1,
  ),
  "sm": (
    min-width: $--sm,
  ),
  "md": (
    min-width: $--md,
  ),
  "lg": (
    min-width: $--lg,
  ),
  "xl": (
    min-width: $--xl,
  ),
);

// * font-------------------------------------------------------------

// font-size
$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;

// font-weight
$--font-weight-primary: 500 !default;
$--font-weight-secondary: 100 !default;

// * button-------------------------------------------------------------

// * button size

// default
$--button-default-height: 40px !default;
$--button-default-font-size: $--font-size-base !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-border-radius: $--border-radius-base !default;
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;

// medium
$--button-medium-height: 36px !default;
$--button-medium-font-size: $--font-size-base;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-padding-vertical: 10px !default;
$--button-medium-padding-horizontal: 20px !default;

// small
$--button-small-height: 32px !default;
$--button-small-font-size: $--font-size-small;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-padding-vertical: 9px !default;
$--button-small-padding-horizontal: 15px !default;

// mini
$--button-mini-height: 28px !default;
$--button-mini-font-size: $--font-size-extra-small;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-padding-vertical: 7px !default;
$--button-mini-padding-horizontal: 15px !default;

// * button border-radius


// * button padding


// button-default color
$--button-type-default-font-color: $--color-primary-regular !default;
$--button-type-default-bg-color: $--color-white !default;
$--button-type-default-border-color: $--color-border-base !default;
// button-primary color
$--button-type-primary-font-color: $--color-white !default;
$--button-type-primary-bg-color: $--color-primary !default;
$--button-type-primary-border-color: $--color-primary !default;
// button-success color
$--button-type-success-font-color: $--color-white !default;
$--button-type-success-bg-color: $--color-success !default;
$--button-type-success-border-color: $--color-success !default;
// button-warning color
$--button-type-warning-font-color: $--color-white !default;
$--button-type-warning-bg-color: $--color-warning !default;
$--button-type-warning-border-color: $--color-warning !default;
// button-danger color
$--button-type-danger-font-color: $--color-white !default;
$--button-type-danger-bg-color: $--color-danger !default;
$--button-type-danger-border-color: $--color-danger !default;
// button-info color
$--button-type-info-font-color: $--color-white !default;
$--button-type-info-bg-color: $--color-info !default;
$--button-type-info-border-color: $--color-info !default;
// * button disabled color
$--button-disabled-font-color:$--color-primary-placeholder !default;
$--button-disabled-bg-color: $--color-white !default;
$--button-disabled-border-color: $--color-border-lighter !default;

// hover focus actived
$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

